@{
    ViewData["Title"] = "Home Page";
}
<div class="container py-4">
    <header class="header mb-4">
        <!-- Conteúdo -->
        <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center">
            <h1>FLUX EASY</h1>
            <h4>
                Simplificando o controle, maximizando resultados.<br />
                Veja como a gestão de estoque pode ser mais eficiente e descomplicada!
            </h4>
        </div>
    </header>
</div>

<!--Teste-->
 
    <!-- Seção principal -->
    <div class="row g-4">
        <!-- Coluna de informações -->
        <div class="col-md-6">
            <h4>
                Desenvolvido especialmente para otimizar o controle de estoque de produtos acabados na Intercol.<br /> <br /> Moderno e intuitivo, ele foi projetado para atender às necessidades específicas da nossa empresa, garantindo eficiência, agilidade e precisão na gestão de informações.<br />
            </h4>
            <hr />
            <h3 class ="text-success">Funcionalidades principais</h3>
            <ul>
                <li>Cadastro e Gerenciamento de Produtos.</li>
                <li>Monitoramento de estoque em tempo real. </li>
                <li>Segurança e Controle.  </li>
                <li>Relatórios Personalizados.  </li>
            </ul>
            <hr />
        </div>

        <!-- Coluna de imagens 
        <div class="col-md-6">
            <h2>Produtos em gestão</h2>
            <div class="row g-2">
                <div class="col-6">
                    <img src="https://intercol.ind.br/assets/images/blog/grid/1.jpg" alt="Imagem 1" class="img-fluid rounded">
                </div>
                <div class="col-6">
                    <img src="https://intercol.ind.br/assets/images/blog/grid/3.jpg" alt="Imagem 2" class="img-fluid rounded">
                </div>
                <div class="col-6">
                    <img src="https://intercol.ind.br/assets/images/blog/grid/4.jpg" alt="Imagem 3" class="img-fluid rounded">
                </div>
                <div class="col-6">
                    <img src="https://intercol.ind.br/assets/images/blog/grid/5.jpg" alt="Imagem 4" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>-->

    <!--Descrição do produto-->

<div class="container-fluid d-flex flex-wrap justify-content-start">
    
    <div class="card me-3" style="width: 18rem;">
        <img src="https://intercol.ind.br/assets/images/blog/grid/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Granulado</h5>
            <p class="card-text">Hot melt granulado <br /> Linha Thermocol.</p>
              
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="https://intercol.ind.br/assets/images/blog/grid/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sachê</h5>
                <p class="card-text">Hot melt PSA <br /> Linha Thermocol.</p>
               
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="https://intercol.ind.br/assets/images/blog/grid/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bastão</h5>
                <p class="card-text">Hot melt bastão <br /> Linha Thermocol.</p>
           
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="https://intercol.ind.br/assets/images/blog/grid/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cola fria</h5>
                <p class="card-text">PVA, VAE e acrílica,<br /> Linha Pevecol </p>
            
        </div>
    </div>

</div>
    <!---->

    <!-- Seção adicional -->
    <div class="row g-4 mt-4">
        <div class="col-md-4">
            <h3>Comercial</h3>
            <p>Consulta de estoque em tempo real, para maior eficiência</p>
        </div>
        <div class="col-md-4">
            <h3>PCP</h3>
            <p>Historico de entrada, saida e consulta para melhor planejamento.</p>
        </div>
        <div class="col-md-4">
            <h3>Inspeção</h3>
            <p>Sistema intuitivo, para entrada e saida com facilidade</p>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="text-center mt-4">
        <p>&copy; 2025 - Intercol. Todos os direitos reservados.</p>
    </footer>
</div>